<template name="footer">
  <hr />

  <footer>
    <div class="container-fluid">
      <small>
        &copy; 2013 <a href="http://github.com/ph3nol">Cédric Dugat</a> -
        Propulsed with <a href="http://www.meteor.com">Meteor</a>,
        <a href="https://github.com/oortcloud/meteorite">Meteorite</a> &amp;
        <a href="https://atmosphere.meteor.com">Atmosphere</a> packages -
        <a href="http://github.com/ph3nol/team-bookmarks">Watch the code</a>
      </small>
    </div>
  </footer>
</template>
