<template name="homePage">
  <div class="row-fluid">
    <div class="span9">
      <h2>Last Bookmarks</h2>
      {{> bookmarks}}
    </div>
    <div class="span3">
      <h2>New Bookmark</h2>
      {{> bookmarkAdd}}
    </div>
  </div>
</template>

<template name="categoryPage">
  <div class="row-fluid">
    <div class="span9">
      <h2>Category: {{category.name}}</h2>
      {{> bookmarks}}
    </div>
    <div class="span3">
      <h2>New Bookmark</h2>
      {{> bookmarkAdd}}
    </div>
  </div>
</template>
